@import "../../less/vars.less";

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.progress {
  position: relative;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background-color: @sapphire;
  margin-top: 21px;
}

.color {
  position: absolute;
  background-color: @green;
  width: 0px;
  height: 4px;
  border-radius: 15px;
}

.title {
  font-size: 10px;
  text-align: left;
}
